:root {
  --white: #fff;
  --black: #000;

  --brd-init: #3cb878; /* brand-green-colors initial */
  --brd-hover: #01813f; /* brand-green-colors hover */
  --brd-extra: rgba(60, 184, 120, 0.8); /* brand-green-colors main button */
  --brd-active: #034724; /* reset button active green-color */

  --gray-passive: #bebebe; /* text gray passive */
  --gray-active: #434343; /* text gray active */
  --gray-extra: #848484; /* text gray additional */
  --gray-border: #f2f2f2; /* border gray */

  --f-init: #305db8; /* facebook button initial */
  --f-hover: #022263; /* facebook button hover */
  --f-active: rgb(32, 55, 112); /* facebook button active */
  --f-extra: #0a162f; /* facebook button additional */

  --g-init: #df4a32; /* google button initial */
  --g-hover: #ab1f09; /* google button hover */
  --g-active: #971a07; /* google button active */
  --g-extra: #2b0d09; /* google button additional */

  --shadow-header: rgba(0, 0, 0, 0.25); /* header drop shadow */
  --shadow-main: rgba(0, 0, 0, 0.5); /* main drop shadow */
  --shadow-focus: rgba(0, 0, 0, 0.2); /* focus drop shadow */

  /* additional active colors for brand  */
  --brd-active-text-1: #047038; /* active for text additional */
  --brd-active-text: #d73407; /* active for text additional */
}
