body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  color: var(--white);
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

/* Header */

header {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0.6) 45%,
    rgba(0, 0, 0, 0.5) 60%,
    rgba(0, 0, 0, 0.2) 75%,
    rgba(0, 0, 0, 0.6) 120%
  );
  box-shadow: 0px 4px 4px 0px var(--shadow-header);
}

.header-wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  opacity: 0.4;
  transition: 0.8s;
}

.header-wrapper:hover {
  opacity: 1;
}

.logo {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
}

/* Drop-dawn menu: */
/* .header-wrapper {
  position: relative;
  visibility: hidden;
  bottom: 60px;
}
body:hover .header-wrapper {
  visibility: visible;
  position: relative;
  bottom: 0;
}
.logo:hover + .menu {
  opacity: 0.4;
} */

.header-text-link {
  color: var(--white);
}

.header-text-link:hover {
  color: var(--brd-hover);
}

.header-text-link:active {
  color: var(--brd-active);
}

.menu {
  position: relative;
  display: flex;
  gap: 55px;
}

.menu-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
  bottom: -1px;
}

.menu-list::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 19px;
  right: -27px;
  background-color: var(--white);
}

.menu-img {
  height: 24px;
}

.menu-img path {
  fill: var(--white);
}

.menu-img:hover path {
  fill: var(--brd-hover);
}

.menu-img:active path {
  fill: var(--brd-active);
}

.registration {
  display: flex;
  align-items: center;
}

/* Top Main */

main {
  position: relative;
  height: calc(100vh - 60px);
}

.container {
  width: 450px;
  height: 590px;
  background-color: var(--white);
  box-sizing: border-box;
  padding: 30px 60px 40px 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-wrap {
  box-shadow: 0px 4px 18px 0px var(--shadow-main);
}

.sign-up-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;
}

/* Green square: */
.sign-up-box::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: var(--brd-init);
  position: absolute;
  left: 0;
  transform: translateY(2px);
}

.main-sign-up {
  color: var(--gray-active);
  font-size: 20px;
  line-height: 20px;
}

.main-login {
  color: var(--brd-init);
}

.main-login:hover {
  color: var(--brd-hover);
}

.main-login:active {
  color: var(--brd-active);
}

/* Button sotial: */
.btn-sotial {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.btn-sotial-link {
  position: relative;
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--white);
  border-radius: 4px;
  padding: 12px 0 12px 12px;
}

.color-f {
  background-color: var(--f-init);
}

.color-f:hover {
  background-color: var(--f-hover);
}

.color-f:active {
  background-color: var(--f-active);
}

.color-g {
  background-color: var(--g-init);
}

.color-g:hover {
  background-color: var(--g-hover);
}

.color-g:active {
  background-color: var(--g-active);
}

.color-f::after,
.color-g::after {
  content: "";
  width: 1px;
  height: 28px;
  position: absolute;
  left: 50px;
  bottom: 50%;
  transform: translateY(50%);
}

.color-f::after {
  opacity: 0.2;
  background-color: var(--f-extra);
}

.color-f:hover::after {
  opacity: 0.5;
  background-color: var(--f-init);
}

.color-g::after {
  opacity: 0.2;
  background-color: var(--g-extra);
}

.color-g:hover::after {
  opacity: 0.4;
  background-color: var(--g-extra);
}

.btn-sotial-text {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  line-height: 16px;
}

.btn-sotial-text::before {
  content: "";
  display: inline-block;
  margin-right: 35px;
}

.bg-icon-facebook::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon_fb.svg");
}

.bg-icon-google::before {
  content: "";
  display: block;
  width: 30px;
  height: 19px;
  background-image: url("../img/icon_google.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0, -5px;
}

/* Bottom Main */

fieldset {
  border-top: 1px solid var(--gray-border);
}

legend {
  color: var(--gray-extra);
  text-align: center;
  padding: 0 5px;
  margin-bottom: 12px;
}

.form-reg {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-general {
  box-sizing: border-box;
  height: 45px;
  border-radius: 4px;
}

.btn-field {
  padding-left: 20px;
  border: 1px solid var(--gray-border);
}

.btn-field:focus {
  outline: none;
  border: none;
  color: var(--gray-active);
  box-shadow: 0px 3px 8px var(--shadow-focus);
}

.btn-field::placeholder {
  color: var(--gray-passive);
}

.checkbox-lab {
  position: relative;
  bottom: 3px;
}

.checkbox-init {
  visibility: hidden;
  position: relative;
  margin-right: 15px;
}

.checkbox-text {
  display: inline-block;
  color: var(--gray-active);
  cursor: pointer;
}

.checkbox-text::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray-border);
  left: 4px;
  bottom: calc(50% - 2px);
  transform: translateY(50%);
}

.checkbox-text::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/check-mark.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 8px;
  bottom: calc(50% - 2px);
  transform: translate(0, 50%) scale(0);
  transition: 0.6s;
}

.checkbox-init:checked + .checkbox-text::after {
  transform: translate(0, 50%) scale(1);
}

.term-link {
  color: var(--brd-init);
}

.term-link:hover {
  color: var(--brd-hover);
}

.term-link:active {
  color: var(--brd-active);
}

.btn-reset {
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
  background-color: var(--brd-extra);
  cursor: pointer;
  border: none;
}

.btn-reset:hover {
  background-color: var(--brd-hover);
}

.btn-reset:active {
  background-color: var(--brd-active);
}
